<?xml version="1.0" encoding="utf-8" ?>
<DataBaseConfig>
  <DbType>sqlserver</DbType>
  <DataSource>127.0.0.1</DataSource>
  <UserID>sa</UserID>
  <Password>wcw840525.</Password>
  <DataBase>FileManager_V3</DataBase>
  <Port>1433</Port>
  <Pooling>True</Pooling>
  <EncodingName></EncodingName>
</DataBaseConfig>